* {
    box-sizing: border-box;
    /* primary colors */
    --custom-peach: #E7816B;
    --custom-black: #1D1C1E;
    --white: #FFF;

    /* secondary colors */
    --custom-light-peach: #FFAD9B;
    --custom-dark-grey:  #333136;
    --custom-light-grey: #F1F3F5;

    font-family: 'Jost', sans-serif;  
    font-kerning: normal;  
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Typography settings */

h1, h2, h3 {
    font-weight: 500;
}

h1 {
    font-size: 3rem;
    line-height: 48px;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 48px;
}

h3 {
    font-size: 1.25rem;
    line-height: 26px;
    letter-spacing: 5px;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

a {
    color: var(--white);
    text-decoration: none;
}





/* Header Section */
header {
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width: 400px) {
    header {
        padding-top: 32px;
        padding-bottom: 32px;
        margin: 0 auto;
        width: 85%;
    }

    .logo-container img{
        width: 202px;
    }

    .banner-wrapper {
        background-color: var(--custom-black);
    }

    .menu-li-mobile {
        
        list-style: none;
    }
}